# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\pari\reactjs\Toplearn\top_learn_basic\New folder\19_TopLearn_ReactJS\toplearn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
